<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta id="androidStatus" content="#f0f0f0" name="theme-color">
    
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/css/styles.css" media="screen"/>
  </head>
  
  <body>
    <div id="bg">
      <img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fi.ytimg.com%2Fvi%2FUUBDVjcJIa0%2Fmqdefault.jpg&f=1" alt="">
    </div>
   
    <h1 style="background-color: #fff">{{ info_location }}</h1>
  </body>
</html>
