<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="theme-color" content="#eceff1">

    <link rel="icon" href="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fthumb1.shutterstock.com%2Fdisplay_pic_with_logo%2F152950%2F152950%2C1322251846%2C68%2Fstock-photo-new-potato-isolated-on-white-background-close-up-89581462.jpg&f=1"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/css/styles.css" media="screen"/>
  </head>
  
  <body>
    <div id="bg">
      <img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fi.ytimg.com%2Fvi%2FUUBDVjcJIa0%2Fmqdefault.jpg&f=1" alt="">
    </div>
   
    <h1 style="background-color: #fff">{{ info_location }}</h1>
  </body>
</html>
